



.con_co{
	min-height: 500px;
	padding:20px;
}
.title{
	
}
.co_table{ 
	width:100%;
	min-width: 800px;
	td {
		text-align: center;
	}
}

.form_info{
	margin-top: 10px;
	.font {
		width: 50px;
		float: left;
		
	}
	input:text {
		float: left;
	}
	.form_sex {
		margin: 0 10px;
	}


}
.clear{
	clear: both;
}